/* sidebar styling */
.aside{
    background-image:url("../../assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
    min-height: 172px;
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    grid-area: 1/1/3/1;
}
.aside nav{
    display: flex;
    gap: .75rem;
    height: fit-content;
    width: fit-content;
}
.aside button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;  
}
.aside nav button span{
    pointer-events: none;
    background-color: transparent;
    color: var(--White);
    border-radius: 50%;
    border: 1px solid var(--White);
    padding: .5rem .75rem;
}
.aside nav button div{
    pointer-events: none;
    display: none;
}
.aside nav .active span{
    background-color: var(--Lightblue);
    color: var(--Marineblue);
    border: 1px solid var(--Lightblue);
}
@media screen and (min-width:768px) {
    .aside{
        background-image: url("../../assets/images/bg-sidebar-desktop.svg");
        height: 568px;
        width: 274px;
        background-size: contain;
        justify-content: start;
        padding: 2rem 0 0 2rem;
    }
    .aside nav{
        flex-direction: column;
        gap: 1.5rem;
        height: fit-content;
        width: fit-content;
    }
    .aside nav button div{
        display: flex;
        flex-direction: column;
        gap: 0.15rem;
        text-align: start;
        align-self: center;
    }
    .aside nav button div h4{
        color: var(--Coolgray);
        font-size: 12px;
    }
    .aside nav button div p{
        color: var(--Magnolia);
        font-weight: var(--fontweight700);
        font-size: 12px;
    }
}
@media screen and (min-width:1024px) {
    .aside{
        height: 100%;
        padding: 4rem 0 0 2rem;
        background-size: cover;
    }
    .aside nav{
        gap: 2rem;
    }
    .aside nav button div h4{
        font-size: 15px;
    }
    .aside nav button div p{
        font-size: 17px;
    }
    .aside nav button span{
        padding: .5rem .85rem;
        font-size: 20px;
    } 
}
@media screen and (min-width:2560px) {
    .aside{
        height: 100%;
        width: 400px;
        padding: 4rem 0 0 2rem;
        background-size: cover;
    }
    .aside nav{
        gap: 3.5rem;
    }
    .aside nav button div h4{
        font-size: 25px;
    }
    .aside nav button div p{
        font-size: 28px;
    }
    .aside nav button span{
        padding: .5rem 1rem;
        font-size: 28px;
    } 
    
}
